NODE_ENV=development
PORT=3007
SERVICE_NAME=review-service
POSTGRES_URI=postgres://review_user:review_pass@localhost:5432/review_db
AUTH_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3002
FRONTEND_URL=http://localhost:3000
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
